@charset "utf-8";

$animate-scss-default-duration: 2s;

$animate-scss-durations: (
  fast: 800ms,
  faster: 400ms,
  slow: 3s,
  slower: 4s
) !default;

.root {
  padding: 20px 10px;
}

@import "@brightleaf/animate.scss";
